﻿@CHARSET "UTF-8";

	
html{
    min-height: 100%;
    background: url(../parts/loginbg.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    background-attachment:fixed;

}

div#container{
    background: url(../parts/taransparent_white.png) repeat;
    margin-left:630px;
    margin-top:20px;
    padding: 50px;
    width: 700px;
    border-radius: 20px;
}
div#container table{
   background-color:#fff;
}

div#profile{
    background: url(../parts/taransparent_white.png) repeat;
    margin-left:auto;
    margin-right:auto;
    padding-left:auto;
    padding-right:auto;
    width: 1000px;
    border-radius: 20px;
    margin-top:60px;
}
div#profile table{
	background-color:#fff;
	margin-top:90px;
}
.profileIMG {
	padding:10px;
}

.right_profile table {
	font-weight:bold;
}

#tops {
	background: #000 url("../parts/hed.png") repeat-x;
	height:48px;
	color: #FC0;
	margin-top:0px;
	padding-top:0px;
	width: 100%;
	position: fixed;
    top:0;
    left:0;
}
#topsLeft {
	text-align:left;
}
.topsLeft {
	text-align:left;
}
.topsRight a {
	font-weight:bold;
	color:#FFF;
}
.topsRight a {
	font-weight:bold;
	color:#FFF;
}


#side {
	background: url(../parts/taransparent_white.png) repeat;
	border: 4px solid #ccc;
	border-radius: 6px;
	color: black;
	float: left;
	display:inline-block;
	font-size: 14px;
	height: 245px;
	padding: 10px;
	width: 290px;
	margin-left:300px;
	margin-top:50px;
}

#side table{
	width:240px;
	text-align:right;
}

.login{
	color:#333;
	font-weight:bold;
}


#loginPage {
	background: url(../parts/taransparent_white.png) repeat;
	border: 4px solid #ccc;
	border-radius: 6px;
	width:300px;
	color: black;
	margin-top:300px;

}
#loginPage table{
	width:240px;
	text-align:right;
}

#userexitPage {
	background: url(../parts/taransparent_white.png) repeat;
	border: 4px solid #ccc;
	border-radius: 6px;
	width:800px;
	color: black;
	margin-top:150px;

}
#userexitPage table{
	width:240px;
	text-align:right;
}

.right_profile{
	font-size:16px;
	width:460px;
}
.right_profile h1{
	font-size:20px;
	margin:0px;
	padding:0px;
}
.commentBox {
	padding:4px;

}
.Questionnaire {
	width:600px;
}
.choice {
	width:460px;
	text-align:left;
}
.choice .box {
	width:440px;
	height:50px;
	font-size:12px;
	resize:none;
}

.choice span {
	color:red;
	font-size:14px;
}


#goal {
	clear: both;
	margin: auto;
	width: 900px;
	display: block;
}
.fixed {
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 10000;
}


/******* オプション *******/

a {color:blue;font-weight:bold;}
a:hover{color:#C0C0C0;}
#main img {border:1px solid #ccc;}

.fl_r{float:right;}
.fl_l{float:left;}
.cl_b{clear:both;}

.mr_au{margin-right:auto;}
.ml_au{margin-left:auto;}

.pt_0{padding-top:0px;}

.mt_0{margin-top:0px;}
.mt_5{margin-top:5px;}
.mt_10{margin-top:10px;}
.mt_15{margin-top:15px;}
.mt_20{margin-top:20px;}
.mt_25{margin-top:25px;}
.mt_30{margin-top:30px;}
.mt_35{margin-top:35px;}
.mt_40{margin-top:40px;}
.mt_45{margin-top:45px;}
.mt_50{margin-top:50px;}
.mt_55{margin-top:55px;}
.mt_60{margin-top:60px;}

.mb_0{margin-bottom:0px;}
.mb_5{margin-bottom:5px;}
.mb_10{margin-bottom:10px;}
.mb_15{margin-bottom:15px;}
.mb_20{margin-bottom:20px;}
.mb_25{margin-bottom:25px;}
.mb_30{margin-bottom:30px;}
.mb_35{margin-bottom:35px;}
.mb_40{margin-bottom:40px;}
.mb_45{margin-bottom:45px;}
.mb_50{margin-bottom:50px;}
.mb_55{margin-bottom:55px;}
.mb_60{margin-bottom:60px;}

.mr_0{margin-right:0px;}
.mr_5{margin-right:5px;}
.mr_10{margin-right:10px;}
.mr_15{margin-right:15px;}
.mr_20{margin-right:20px;}
.mr_25{margin-right:25px;}
.mr_30{margin-right:30px;}
.mr_35{margin-right:35px;}
.mr_40{margin-right:40px;}
.mr_45{margin-right:45px;}
.mr_50{margin-right:50px;}
.mr_55{margin-right:55px;}
.mr_60{margin-right:60px;}

.ml_0{margin-left:0px;}
.ml_5{margin-left:5px;}
.ml_10{margin-left:10px;}
.ml_15{margin-left:15px;}
.ml_20{margin-left:20px;}
.ml_25{margin-left:25px;}
.ml_30{margin-left:30px;}
.ml_35{margin-left:35px;}
.ml_40{margin-left:40px;}
.ml_45{margin-left:45px;}
.ml_50{margin-left:50px;}
.ml_55{margin-left:55px;}
.ml_60{margin-left:60px;}

