﻿@CHARSET "UTF-8";


html{
    min-height: 100%;
    background: url(../wallpaper/nature/6.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    background-attachment:fixed;

}

div#wapper {
   width:1200px;
   margin: 0 auto;
}

div#container{
    background: url(../parts/taransparent_white.png) repeat;
    margin-left:290px;
    margin-top:20px;
    padding: 50px;
    width: 700px;
    border-radius: 20px;
}
div#container table{
   background-color:#fff;
}

div#profile{
    background: url(../parts/taransparent_white.png) repeat;
    margin-left:auto;
    margin-right:auto;
    padding-left:auto;
    padding-right:auto;
    width: 1000px;
    border-radius: 20px;
    margin-top:35px;
}
div#profile table{
	background-color:#fff;
}
.profileIMG {
	text-align:center;
	width:200px;
	padding:10px;
}

.Resultdate {
	font-size:22px;
	font-weight:bold;
	color: #000;
}
.acountDelete {
	color:#999;
	font-size:13px;
	color:#F00;
}

.gatyainfo {
	text-align:center;	
}
.gatyainfoTEXT {
	color:#F00;
}
.gatyainfo select{
	width:200px;
}

.right_profile table {
	font-weight:bold;
}
.profileinfo {
	
	}

#tops {
	background: #000 url("../parts/hed.png") repeat-x;
	height:48px;
	color: #FC0;
	margin-top:0px;
	padding-top:0px;
	width: 100%;
	position: fixed;
	top:0;
	left:0;
}
.point {
	font-weight:bold;
	color:#fff;
	font-size:16px;
}
.topsLeft {
	text-align:left;
}
.topsRight a {
	font-weight:bold;
	color:#FFF;
}
.Userexit a {
	color: #666;
}


#side {
	background: url(../parts/taransparent_white.png) repeat;
	border: 4px solid #ccc;
	border-radius: 6px;
	color: black;
	float: left;
	display:inline-block;
	font-size: 14px;
	height: 280px;
	padding: 10px;
	width: 250px;
	margin-top:50px;
}

#side table{
	width:240px;
	text-align:right;
}
#Managerside {
	background: url(../parts/taransparent_white.png) repeat;
	border: 4px solid #ccc;
	border-radius: 6px;
	color: black;
	float: left;
	display:inline-block;
	font-size: 14px;
	height: 220px;
	padding: 10px;
	width: 250px;
	margin-top:50px;
}
#Managerside table {
	width:240px;
	text-align:right;
}
.boyakiBox {
	width:240px;
	height:50px;
	font-size:12px;
	resize:none;
}

.login{
	color:#333;
	font-weight:bold;
}


#loginPage {
	background: url(../parts/taransparent_white.png) repeat;
	border: 4px solid #ccc;
	border-radius: 6px;
	width:300px;
	color: black;
	margin-top:300px;

}
#loginPage table{
	width:240px;
	text-align:right;
}

.right_profile{
	font-size:16px;
	width:460px;
}
.right_profile h1{
	font-size:20px;
	margin:0px;
	padding:0px;
}
.boyakiCount {
	width:670px;
	text-align:right;
}
.commentDate {
	font-size:14px;
	color:#999;
}
.commentBox {
	padding:4px;
}
.commentIMG {
	padding:4px;
	text-align:center;
}
.commentIMG img {
	width:400px;
	border-radius: 20px;
}
.comeback {
	background: transparent url(../parts/comeBack.png) no-repeat;
	width:669px;
	height:59px;
}
.comebackIn {
	padding-top:20px;
	margin-left:30px;
	width:600px;
	height:30px;
}
.album {
	width:800px;
	text-align:right;
}
.Collection {
	width:780px;
}
.SUBMIT {
	border-top:#CCC 3px dashed; 
	width:500px;
	
}
#goal {
	clear: both;
	margin: auto;
	width: 900px;
	display: block;
}
.fixed {
    position: fixed;
    
    width: 100%;
    z-index: 10000;
}


/******* オプション *******/

.text_l{text-align:left;}
.text_r{text-align:right;}
a {color:blue;font-weight:bold;}
a:hover{color:#808080;}
#main img {border:1px solid #ccc;}

.fl_r{float:right;}
.fl_l{float:left;}
.cl_b{clear:both;}

.m_0{margin:0px;}
.p_0{padding:0px;}

.mr_au{margin-right:auto;}
.ml_au{margin-left:auto;}

.pt_0{padding-top:0px;}

.mt_0{margin-top:0px;}
.mt_5{margin-top:5px;}
.mt_10{margin-top:10px;}
.mt_15{margin-top:15px;}
.mt_20{margin-top:20px;}
.mt_25{margin-top:25px;}
.mt_30{margin-top:30px;}
.mt_35{margin-top:35px;}
.mt_40{margin-top:40px;}
.mt_45{margin-top:45px;}
.mt_50{margin-top:50px;}
.mt_55{margin-top:55px;}
.mt_60{margin-top:60px;}
.mt_70{margin-top:70px;}
.mt_80{margin-top:80px;}
.mt_90{margin-top:90px;}
.mt_100{margin-top:100px;}
.mt_110{margin-top:110px;}

.mb_0{margin-bottom:0px;}
.mb_5{margin-bottom:5px;}
.mb_10{margin-bottom:10px;}
.mb_15{margin-bottom:15px;}
.mb_20{margin-bottom:20px;}
.mb_25{margin-bottom:25px;}
.mb_30{margin-bottom:30px;}
.mb_35{margin-bottom:35px;}
.mb_40{margin-bottom:40px;}
.mb_45{margin-bottom:45px;}
.mb_50{margin-bottom:50px;}
.mb_55{margin-bottom:55px;}
.mb_60{margin-bottom:60px;}

.mr_0{margin-right:0px;}
.mr_5{margin-right:5px;}
.mr_10{margin-right:10px;}
.mr_15{margin-right:15px;}
.mr_20{margin-right:20px;}
.mr_25{margin-right:25px;}
.mr_30{margin-right:30px;}
.mr_35{margin-right:35px;}
.mr_40{margin-right:40px;}
.mr_45{margin-right:45px;}
.mr_50{margin-right:50px;}
.mr_55{margin-right:55px;}
.mr_60{margin-right:60px;}
.mr_150{margin-right:150px;}

.ml_0{margin-left:0px;}
.ml_5{margin-left:5px;}
.ml_10{margin-left:10px;}
.ml_15{margin-left:15px;}
.ml_20{margin-left:20px;}
.ml_25{margin-left:25px;}
.ml_30{margin-left:30px;}
.ml_35{margin-left:35px;}
.ml_40{margin-left:40px;}
.ml_45{margin-left:45px;}
.ml_50{margin-left:50px;}
.ml_55{margin-left:55px;}
.ml_60{margin-left:60px;}

