﻿@CHARSET "UTF-8";

body {
	background: #b7deed url(img/pattern0.png) repeat;
	margin:0px;
	padding:0px;
}

h1 {
	font-size: 14px;
	font-weight: bold;
	margin: 10px;
}
h3 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom : 10px;
	padding : 0;
}
#tops {
	background: #000 url("img/hed.gif") repeat-x;
	height:48px;
	margin-top:0px;
	padding-top:0px;
	width: 100%;
	position: fixed;
    top:0;
    left:0;
}

#wrap {
	margin: 0px auto 20px;
	width: 100%;
}
#main {
	background: white;
	border: 4px solid #00BFFF;
	border-radius: 6px;
	color: black;
	font-size: 14px;
	margin-left:330px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top:60px;
	padding: 10px;
	width: 1200px;
}

#main span {
	font-weight:bold;
	margin-left:16px;
}
#side {
	background: #fff;
	border: 4px solid #00BFFF;
	border-radius: 6px;
	color: black;
	float: left;
	display:inline-block;
	font-size: 14px;
	margin-left:6px;
	height: 245px;
	padding: 10px;
	width: 290px;
}

#side table{
	width:240px;
	text-align:right;
}

#photoInsert {
	background: #fff;
	border: 4px solid #00BFFF;
	border-radius: 6px;
	color: black;
	float: left;
	display:inline-block;
	font-size: 14px;
	margin-left:6px;
	height: 300px;
	padding: 10px;
	width: 290px;
}

#photoInsert table{
	width:240px;
	text-align:right;
}



#goal {
	clear: both;
	margin: auto;
	width: 900px;
	display: block;
}
.fixed {
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 10000;
}

/****** ユーザー新規登録  ********/

#insertTable {
	text-align:center;
	background: white;
	border: 4px solid #00BFFF;
	border-radius: 6px;
	color: black;
	font-size: 14px;
	margin-top:160px;
	width: 290px;
	height: 245px;
}

#insertTable table {
	width:240px;
	text-align:right;
}

.login{
	padding:4px;
	color:#333;
	font-weight:bold;
}

/******* 写真登録完了画面 *******/

#photoend {
	text-align:center;
	background: white;
	border: 4px solid #00BFFF;
	border-radius: 6px;
	color: black;
	font-size: 14px;
	margin-top:160px;
	width: 290px;
	height: 265px;
}

#photoend table{
	width:240px;
	text-align:right;
}

/******* オプション *******/

a {color:blue;font-weight:bold;}
a:hover{color:#fff;}
#main img {border:1px solid #ccc;}

.fl_r{float:right;}
.fl_l{float:left;}
.cl_b{clear:both;}

.mr_au{margin-right:auto;}
.ml_au{margin-left:auto;}

.pt_0{padding-top:0px;}

.mt_0{margin-top:0px;}
.mt_5{margin-top:5px;}
.mt_10{margin-top:10px;}
.mt_15{margin-top:15px;}
.mt_20{margin-top:20px;}
.mt_25{margin-top:25px;}
.mt_30{margin-top:30px;}
.mt_35{margin-top:35px;}
.mt_40{margin-top:40px;}
.mt_45{margin-top:45px;}
.mt_50{margin-top:50px;}
.mt_55{margin-top:55px;}
.mt_60{margin-top:60px;}

.mb_0{margin-bottom:0px;}
.mb_5{margin-bottom:5px;}
.mb_10{margin-bottom:10px;}
.mb_15{margin-bottom:15px;}
.mb_20{margin-bottom:20px;}
.mb_25{margin-bottom:25px;}
.mb_30{margin-bottom:30px;}
.mb_35{margin-bottom:35px;}
.mb_40{margin-bottom:40px;}
.mb_45{margin-bottom:45px;}
.mb_50{margin-bottom:50px;}
.mb_55{margin-bottom:55px;}
.mb_60{margin-bottom:60px;}

.mr_0{margin-right:0px;}
.mr_5{margin-right:5px;}
.mr_10{margin-right:10px;}
.mr_15{margin-right:15px;}
.mr_20{margin-right:20px;}
.mr_25{margin-right:25px;}
.mr_30{margin-right:30px;}
.mr_35{margin-right:35px;}
.mr_40{margin-right:40px;}
.mr_45{margin-right:45px;}
.mr_50{margin-right:50px;}
.mr_55{margin-right:55px;}
.mr_60{margin-right:60px;}

.ml_0{margin-left:0px;}
.ml_5{margin-left:5px;}
.ml_10{margin-left:10px;}
.ml_15{margin-left:15px;}
.ml_20{margin-left:20px;}
.ml_25{margin-left:25px;}
.ml_30{margin-left:30px;}
.ml_35{margin-left:35px;}
.ml_40{margin-left:40px;}
.ml_45{margin-left:45px;}
.ml_50{margin-left:50px;}
.ml_55{margin-left:55px;}
.ml_60{margin-left:60px;}
